{% set layout = content.field_layout.0['#markup'] %}{# Izquierda | Derecha | Centrado #}
{% set is_bk = content.field_is_backgound.0['#markup'] %} {# on | off #}
{% set img = content.field_img %}
{% set title = content. field_titulo %}
{% set description = content.field_description %}
{% set cta = content.field_cta %}
{% set colourText = content.field_colour_text.0['#markup'] %}
{% set size = content.field_banner_size.0['#markup'] %}

{% if content.field_id.0 %}
    <div class="banner banner-{{ layout|lower }} banner-{{ size|lower }}" id="{{ content.field_id.0['#text']}}">
{% else %}
    <div class="banner banner-{{ layout|lower }} banner-{{ size|lower }}" id="banner-{{ paragraph.id()}}">
{% endif %}
    {% if is_bk == 'Off'%}
        {% if img.0 != null %}
            {% if layout == "Izquierda" %}
                <div class="col-md-6 banner-image order-md-1">
            {% elseif layout == "Derecha" %}
                <div class="col-md-6 banner-image order-md-2">
            {% endif %}
                <div class="banner-img my-auto">
                    <img src="{{ img.0['#markup'] }}" loading="lazy">
                </div>
            </div>
            {% if layout == "Izquierda" %}
                <div class="col-md-6 banner-text order-md-2">
            {% elseif layout == "Derecha" %}
                <div class="col-md-6 banner-text order-md-1">
            {% endif %}
        {% else %}
            {% if layout == "Izquierda" %}
                <div class="col-md-12 banner-text text-right">
            {% elseif layout == "Derecha" %}
                <div class="col-md-12 banner-text text-left">
            {% endif %}
        {% endif %}
            <div style="color: {{ colourText }};" class="pe-md-5 py-md-5">
                {{ title }}
            </div>
            {% if cta.0 != null %}
                {{ cta }}
            {% endif %}
        </div>
    {% else %}
        {% if layout == "Centrado" %}
            <div class="col-md-12 text-center">
                <div class="my-md-auto mx-md-auto" style="color: {{ colourText }};">{{ title }}</div>
                {% if cta.0 != null %}
                    {{ cta }}
                {% endif %}
            </div>
        {% endif %}
    {% endif %}    
</div>
{% if is_bk == "On" %}
    <style>
    {% if content.field_id.0 %}
        #banner-{{ content.field_id.0['#text']}}{
    {% else %}
        #banner-{{ paragraph.id()}}{
    {% endif %}
            background: url('{{ img.0['#markup'] }}');
            background-position: center;
            background-size: cover;
        }
    </style>
{% endif %}
<script>console.log({{ _context | json_encode | raw }})</script>